/* Reset */
html {
  font-size: inherit;
}

body {
  font-family: 'Maven Pro', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
}

a {
  transition-duration: .2s;
}

a,
a:hover,
a:focus,
a:active {
  color: #08c;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

img {
  width: 100%;
}

blockquote {
  font-size: .8rem;
  border: none;
  background-color: #eee;
  border-radius: 2px;
}

pre {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: .8rem;
  border-radius: 2px;
}

h1, h2, h3, h4, h5 ,h6 { margin: 0; }

/* Original */
#site-header {
  height: 100vh;
  position: relative;
  background: url(/images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

#site-header .actions {
  padding: 10px;
}

#site-header .site-name {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 40%;
  font-size: 4rem;
  color: #fff;
  font-weight: 100;
}

#site-header .icon-down {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 10px;
  font-size: 3rem;
  color: #fff;
}

.btn-home {
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Maven Pro', sans-serif;
}

.btn-home:hover,
.btn-home:focus,
.btn-home:active {
  background-color: #fff;
  color: #000;
}

article {
  margin-bottom: 40px;
}

.post-date,
.post-title,
.post-summary {
  color: #000;
}

.post-summary {
  word-wrap: break-word;
  color: rgba(0, 0, 0, .8);
}

.post-date {
  color: rgba(0, 0, 0, .5);
}

.post-title {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 900;
}

/* Original:Index */
/* Original:Single */
#page-single #site-header {
  height: 50vh;
}

#page-single #site-header .post-info {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 40%;
  font-weight: 900;
  text-shadow: 1px 1px 0 #000, 1px 0 0 #000, 0 1px 0 #000, -1px -1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
}

#page-single #site-header .post-date,
#site-header .post-title {
  color: #fff;
}

#page-single #site-header .post-date {
  margin-bottom: 20px;
}

#page-single #site-header .post-title {
  font-size: 1.5rem;
}

#site-header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
}

/* Original:Body */
.body {
  line-height: 2rem;
}

.body p {
  margin: 0;
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  position: relative;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 10px;
}

.body h1 { font-size:1.7rem; }
.body h2 { font-size:1.4rem; }
.body h3 { font-size:1.1rem; }
.body h4 { font-size:.8rem; }
.body h5 { font-size:.7rem; }

/* Original:Footer */
#site-footer {
  padding: 50px 0 100px 0;
}

/* Override */

/* Helper */
.site-container {
  max-width: 670px;
}

.font-logo {
  font-family: 'Lato', sans-serif;
}

@media (max-width:767px) {
  #site-header .site-name {
    font-size: 3rem;
  }
}
